@font-face {font-family: AgencyFB; src: url('AgencyFB.ttf');}
@font-face {font-family: AgencyFB; font-weight: bold; src: url('AgencyFBBold.ttf');}
@font-face {font-family: Oxygen; src: url('Oxygen-Regular.ttf');}
@font-face {font-family: Oxygen; font-weight: bold; src: url('Oxygen-Bold.ttf');}